{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/Form/form_admin_fields.html.twig' %}



{# Custom Sonata Admin Extension #}
{% block sonata_admin_phpcr_one_to_one_widget %}
    {% include '@SonataAdmin/CRUD/Association/edit_one_to_one.html.twig' %}
{% endblock %}

{% block sonata_admin_phpcr_many_to_many_widget %}
    {% include '@SonataAdmin/CRUD/Association/edit_many_to_many.html.twig' %}
{% endblock %}

{% block sonata_admin_phpcr_many_to_one_widget %}
    {% include '@SonataAdmin/CRUD/Association/edit_many_to_one.html.twig' %}
{% endblock %}

{% block sonata_admin_phpcr_one_to_many_widget %}
    {% include '@SonataAdmin/CRUD/Association/edit_one_to_many.html.twig' %}
{% endblock %}

{% block sonata_type_model_widget %}

    {#
        This is not the best way to do if
        TODO : improve this part
    #}

    {#model {{ sonata_admin.field_description.mappingtype }}#}

    {% if sonata_admin.field_description is empty %}
        {{ block('choice_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == 'child' %}
        {{ block('sonata_admin_phpcr_one_to_one_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == 2 %}
        {{ block('sonata_admin_phpcr_many_to_one_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == 8 %}
        {{ block('sonata_admin_phpcr_many_to_many_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == 4 or sonata_admin.field_description.mappingtype == 'children' %}
        {{ block('sonata_admin_phpcr_one_to_many_widget') }}
    {% else %}
        {#INVALID MODE : {{ id }}#}
        {{ block('choice_widget') }}
    {% endif %}
{% endblock %}

{% block sonata_type_model_list_widget %}
    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}" class="field-short-description">
            {% if sonata_admin.field_description.associationadmin.id(sonata_admin.value) %}
                {{ render(path('sonata_admin_short_object_information', {
                    'code':     sonata_admin.field_description.associationadmin.code,
                    'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                    'uniqid':   sonata_admin.field_description.associationadmin.uniqid,
                    'linkParameters': sonata_admin.field_description.options.link_parameters
                })) }}
            {% elseif sonata_admin.field_description.options.placeholder is defined and sonata_admin.field_description.options.placeholder %}
                <span class="inner-field-short-description">
                    {{ sonata_admin.field_description.options.placeholder|trans({}, 'SonataAdminBundle') }}
                </span>
            {% endif %}
        </span>
        <span id="field_actions_{{ id }}" class="field-actions">
            <span class="btn-group">
                {% if sonata_admin.field_description.associationadmin.hasroute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') and btn_list %}
                    <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('list') }}"
                        onclick="return start_field_dialog_form_list_{{ id }}(this);"
                        class="btn btn-info btn-sm sonata-ba-action"
                        title="{{ btn_list|trans({}, btn_catalogue) }}"
                            >
                        <i class="fa fa-list"></i>
                        {{ btn_list|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}

                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                    <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                        onclick="return start_field_dialog_form_add_{{ id }}(this);"
                        class="btn btn-success btn-sm sonata-ba-action"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                            >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>

            <span class="btn-group">
                {% if sonata_admin.field_description.associationadmin.hasRoute('delete') and sonata_admin.field_description.associationadmin.isGranted('DELETE') and btn_delete %}
                    <a  href=""
                        onclick="return remove_selected_element_{{ id }}(this);"
                        class="btn btn-danger btn-sm sonata-ba-action"
                        title="{{ btn_delete|trans({}, btn_catalogue) }}"
                            >
                        <i class="fa fa-minus-circle"></i>
                        {{ btn_delete|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>
        </span>

        <span style="display: none" >
            {# Hidden text input cannot be required, because browser will throw error "An invalid form control with name='' is not focusable"  #}
            {{ form_widget(form, {'required':false}) }}
        </span>

        {{ block('sonata_help') }}

        <div class="modal fade" id="field_dialog_{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '@SonataAdmin/CRUD/Association/edit_many_script.html.twig' %}
{% endblock %}

{% block sonata_type_admin_widget %}
    {#admin {{ sonata_admin.field_description.mappingtype }}#}
    {% if sonata_admin.field_description.mappingtype == 1 or sonata_admin.field_description.mappingtype == 'child' %}
        {{ block('sonata_admin_phpcr_one_to_one_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == 2 %}
        {{ block('sonata_admin_phpcr_many_to_one_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == 8 %}
        {{ block('sonata_admin_phpcr_many_to_many_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == 4
        or sonata_admin.field_description.mappingtype == 'children'
        or sonata_admin.field_description.mappingtype == 'referrers'  %}
            {{ block('sonata_admin_phpcr_one_to_many_widget') }}
    {% else %}
        INVALID MODE : {{ id }} - type : CollectionType - mapping : {{ sonata_admin.field_description.mappingtype }}
    {% endif %}
{% endblock %}

{% block sonata_type_collection_widget %}
    {% if sonata_admin.field_description.mappingtype == 4
        or sonata_admin.field_description.mappingtype == 8
        or sonata_admin.field_description.mappingtype == 'children'
        or sonata_admin.field_description.mappingtype == 'referrers'
    %}
        {{ block('sonata_admin_phpcr_one_to_many_widget') }}
    {% else %}
        INVALID MODE : {{ id }} - type : CollectionType - mapping : {{ sonata_admin.field_description.mappingtype }}
    {% endif %}
{% endblock %}

{% block doctrine_phpcr_odm_tree_widget %}
{% include '@CmfTreeBrowser/Base/tree.html.twig' %}
<script>
    jQuery(function ($) {
        {% set routing_default_values = {} %}
        {% for default in routing_defaults %}
            {% if 'locale' == default %}
                {% set routing_default_values = routing_default_values|merge({'_locale': app.request.locale}) %}
            {% elseif 'format' == default %}
                {% set routing_default_values = routing_default_values|merge({'_format': app.request.format}) %}
            {% else %}
                {% set routing_default_values = routing_default_values|merge({default: app.request.attributes.get(default)}) %}
            {% endif %}
        {% endfor %}

        $('#{{ id }}-tree-selector').cmfTree({
            request: {
                load: function (nodePath) {
                    return {
                        url: '{{ path('_cmf_get_resource', {
                            repositoryName: repository_name,
                            path: '__path__'
                        }|merge(routing_default_values)) }}'.replace('__path__', nodePath)
                    };
                },
            },
            path_output: '#{{ id }}-tree-selector-output'
        });
    });
</script>

<div id="{{id}}-tree-selector"></div>

<div class="form-inline">
    <input class="form-control" name="{{ full_name }}" id="{{ id }}-tree-selector-output" value="{{ value ?: (select_root_node ? root_node : '') }}">

    <button class="btn btn-mini" id={{id}}-tree-reset>{{ 'reset_tree' | trans({}, 'SonataDoctrinePHPCRAdmin') }}</button>
</div>
{% endblock %}

{% block doctrine_phpcr_odm_tree_manager_widget %}
    {{ render(controller('sonata.admin.doctrine_phpcr.tree_controller:treeAction', {
        'root': form.vars.root,
    })) }}
    {#    'selected': false,
        'create_in_overlay': form.vars.create_in_overlay,
        'edit_in_overlay': form.vars.edit_in_overlay,
        'delete_in_overlay': form.vars.delete_in_overlay
    })) #}
{% endblock %}

{% block choice_field_mask_widget %}
    {{ block('choice_widget') }}
    {% set main_form_name = id|slice(0, id|length - name|length) %}

    <script type="text/javascript">
        $(document).ready(function() {
            var allFields = {{ all_fields|json_encode|raw }};
            var map = {{ map|json_encode|raw }};

            showMaskChoiceEl = $('#{{ main_form_name }}{{ name }}');
            showMaskChoiceEl.on('change', function () {
                choice_field_mask_show($(this).val());
            });

            function choice_field_mask_show(val)
            {
                var controlGroupIdFunc = function (field) {
                    return '#sonata-ba-field-container-{{ main_form_name }}' + field;
                };

                if (map[val] == undefined) {
                    $.each(allFields, function (i, field) {
                        $(controlGroupIdFunc(field)).show();
                    });

                    return;
                }

                $.each(allFields, function (i, field) {
                    $(controlGroupIdFunc(field)).hide();
                });

                $.each(map[val], function (i, field) {
                    $(controlGroupIdFunc(field)).show();
                });
            }

            choice_field_mask_show(showMaskChoiceEl.val());
        });
    </script>
{% endblock %}
