{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set routing_default_values = {} %}
{% for default in routing_defaults %}
    {% if 'locale' == default %}
        {% set routing_default_values = routing_default_values|merge({'_locale': app.request.locale}) %}
    {% elseif 'format' == default %}
        {% set routing_default_values = routing_default_values|merge({'_format': app.request.format}) %}
    {% else %}
        {% set routing_default_values = routing_default_values|merge({default: app.request.attributes.get(default)}) %}
    {% endif %}
{% endfor %}

{% include '@CmfTreeBrowser/Base/tree.html.twig' %}
<script type="text/javascript">
    var apiGetTemplate = '{{ path('_cmf_get_resource', {
        repositoryName: repository_name,
        path: '__path__'
    }|merge(routing_default_values)) }}';
    jQuery(function($) {
        $('#tree').cmfTree({
            root_node: '{{ root_node }}',
            request: {
                load: function (nodePath) {
                    return {
                        url: apiGetTemplate.replace('__path__', nodePath)
                    };
                },
                move: function (sourcePath, destinationPath) {
                    return $.when(
                        $.ajax(
                            apiGetTemplate.replace('__path__', sourcePath),
                            {
                                data: JSON.stringify([{"operation": "move", "target": destinationPath}]),
                                method: 'PATCH',
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8'
                            }
                        ),
                        $.ajax(apiGetTemplate.replace('__path__', destinationPath), {dataType: 'json'})
                    ).then(function (firstResponse, secondResponse) {
                        return secondResponse.shift();
                    });
                },
                reorder: function (parentPath, dropedAtPath, targetPath, position) {
                    return $.when(
                        $.ajax(
                              '{{ path('sonata_admin_tree_reorder') }}',
                              {
                                  data: {
                                    "parent": parentPath,
                                    "dropped": dropedAtPath,
                                    "target": targetPath,
                                    "position": position
                                  },
                                  method: 'POST',
                                  dataType: 'json',
                                  contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                              }
                        ),
                        $.ajax(apiGetTemplate.replace('__path__', targetPath), {dataType: 'json'})
                    ).then(function (firstResponse, secondResponse) {
                        return secondResponse.shift();
                    });
                }
            },
            actions: {
                'edit': {
                    url: { data: '?link.edit.html' },
                    label: "{{ 'create_item'|trans({}, 'SonataDoctrinePHPCRAdmin') }}",
                    icon: 'fa fa-pencil'
                },
                'delete': {
                    url: { data: '?link.remove.html' },
                    label: "{{ 'delete_item'|trans({}, 'SonataDoctrinePHPCRAdmin') }}",
                    icon: 'fa fa-trash-o'
                }
            },
            dnd: {enabled: {{ move  }}, reorder: {{ reorder }}},
            sortableBy: '{{ sortable_by  }}'
        });
    });
</script>

<div id="tree"></div>
