{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}


{% block doctrine_phpcr_odm_tree_widget %}
{% include 'CmfTreeBrowserBundle:Base:tree.html.twig' %}
<script>
    jQuery(function ($) {
        {% set routing_default_values = {} %}
        {% for default in routing_defaults %}
            {% if 'locale' == default %}
                {% set routing_default_values = routing_default_values|merge({'_locale': app.request.locale}) %}
            {% elseif 'format' == default %}
                {% set routing_default_values = routing_default_values|merge({'_format': app.request.format}) %}
            {% else %}
                {% set routing_default_values = routing_default_values|merge({default: app.request.attributes.get(default)}) %}
            {% endif %}
        {% endfor %}

        $('#{{ id }}-tree-selector').cmfTree({
            request: {
                load: function (nodePath) {
                    return {
                        url: '{{ path('_cmf_resource', {
                            repositoryName: repository_name,
                            path: '__path__'
                        }|merge(routing_default_values)) }}'.replace('__path__', nodePath)
                    };
                },
            },
            path_output: '#{{ id }}-tree-selector-output'
        });
    });
</script>

<div id="{{id}}-tree-selector"></div>

<div class="form-inline">
    <input class="form-control" name="{{ full_name }}" id="{{ id }}-tree-selector-output" value="{{ value ?: (select_root_node ? root_node : '') }}">

    <button class="btn btn-mini" id={{id}}-tree-reset>{{ 'reset_tree' | trans({}, 'SonataDoctrinePHPCRAdmin') }}</button>
</div>
{% endblock %}

{% block doctrine_phpcr_odm_tree_manager_widget %}
    {{ render(controller('sonata.admin.doctrine_phpcr.tree_controller:treeAction', {
        'root': form.vars.root,
    })) }}
    {#    'selected': false,
        'create_in_overlay': form.vars.create_in_overlay,
        'edit_in_overlay': form.vars.edit_in_overlay,
        'delete_in_overlay': form.vars.delete_in_overlay
    })) #}
{% endblock %}
