{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block doctrine_phpcr_type_tree_model_widget %}
{% include 'SymfonyCmfTreeBrowserBundle:Base:tree.html.twig' %}
<script type="text/javascript">
    $(document).ready(function() {

        var treeState = AdminTree.generateTreeStateArray("{{ value }}");
        SelectTree.initTree({
            "selector": "#{{id}}-tree-selector",
            "rootNode": "{{ root_node }}",
            "ajax": {
                "children_url": Routing.generate('sonata.admin.doctrine_phpcr.phpcrodm_children')
            },
            "output": "#{{id}}-tree-selector-output",
            "reset": "#{{id}}-tree-reset",
            "path": {
                "expanded":     treeState,
                "preloaded":    treeState
            },
            "icon": {
                "document": "{{ asset('bundles/symfonycmftree/images/document.png') }}",
                "folder":   "{{ asset('bundles/symfonycmftree/images/folder.png') }}"
            },
            "selected": '{{ value }}',
            "selectRootNode": {{ select_root_node ? 'true' : 'false' }}
        });
    })
</script>

<div id="{{id}}-tree-selector"></div>
{% if value is empty %}
<input name="{{full_name}}" id="{{id}}-tree-selector-output" value="{{ select_root_node ? root_node : ''}}" readonly="readonly">
{% else %}
<input name="{{full_name}}" id="{{id}}-tree-selector-output" value="{{value}}" readonly="readonly">
{% endif %}
<button class="btn btn-mini" id={{id}}-tree-reset>{{ 'reset_tree' | trans({}, 'SonataDoctrinePHPCRAdmin') }}</button>
{% endblock %}
